## Facebook training dataset

In [2]:
import numpy as np
from sklearn.model_selection import train_test_split, cross_val_predict
from sklearn import datasets, linear_model
from sklearn import svm, metrics
from sklearn.metrics import mean_squared_error, mean_absolute_error, median_absolute_error, r2_score, roc_curve, precision_score, recall_score, accuracy_score, roc_auc_score
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier

In [13]:
facebook = pd.read_csv('facebook_test_in_class.csv')
facebook.head()
#Change categorical variables to numeric 
cleanup_nums = {"type": {"Photo": 1, "Link": 2, "Status": 3, "Video": 4}}
facebook.replace(cleanup_nums, inplace=True)
facebook.head()

,total_followers,type,category,month,weekday,hour,paid,comment,like,share
0,136568,1,1,10,4,1,0,0,8,0
1,137178,1,1,11,1,16,1,16,210,55
2,134414,1,2,10,1,15,0,15,384,67
3,124910,1,1,6,1,2,0,0,177,8
4,132112,1,2,8,2,15,0,3,44,12

In [3]:
#Choose train and target variables
facebook_train = facebook [['total_followers', 'type', 'paid']]
facebook_target = facebook[['comment', 'like', 'share']]

In [18]:
regr1 = linear_model.LinearRegression()
regr2 = linear_model.LinearRegression()
regr3 = linear_model.LinearRegression()

comment_fit = regr1.fit(facebook_train, facebook_target['comment'])
like_fit = regr2.fit (facebook_train, facebook_target['like'])
share_fit = regr3.fit (facebook_train, facebook_target['share'])

y_pred_comment = cross_val_predict(comment_fit, facebook_train, facebook_target['comment'], cv=3)
y_pred_like = cross_val_predict(like_fit, facebook_train, facebook_target['like'], cv=3)
y_pred_share = cross_val_predict(share_fit, facebook_train, facebook_target['share'], cv=3)

MSE_comment = mean_squared_error (facebook_target['comment'], y_pred_comment)
MAE_comment = mean_absolute_error (facebook_target['comment'], y_pred_comment)
Median_AE_comment = median_absolute_error (facebook_target['comment'], y_pred_comment)
R2_comment = r2_score (facebook_target['comment'], y_pred_comment)

MSE_like = mean_squared_error (facebook_target['like'], y_pred_like)
MAE_like = mean_absolute_error (facebook_target['like'], y_pred_like)
Median_AE_like = median_absolute_error (facebook_target['like'], y_pred_like)
R2_like = r2_score (facebook_target['like'], y_pred_like)

MSE_share = mean_squared_error (facebook_target['share'], y_pred_share)
MAE_share = mean_absolute_error (facebook_target['share'], y_pred_share)
Median_AE_share = median_absolute_error (facebook_target['share'], y_pred_share)
R2_share = r2_score (facebook_target['share'], y_pred_share)

print("MSE of comment:", MSE_comment)
print ("MAE_comment:", MAE_comment)
print ("Median_AE_comment:", Median_AE_comment)
print ("R2_comment", R2_comment)

print("MSE_like:", MSE_like)
print ("MAE_like:", MAE_like)
print ("Median_AE_like:", Median_AE_like)
print ("R2_like", R2_like)

print("MSE_share:", MSE_share)
print ("MAE_share:", MAE_share)
print ("Median_AE_share:", Median_AE_share)
print ("R2_share", R2_share)

MSE of comment: 61.10800921032775
MAE_comment: 5.359734501286983
Median_AE_comment: 4.067185927405786
R2_comment -0.04252760418045676
MSE_like: 50849.38745238535
MAE_like: 122.46799722454948
Median_AE_like: 87.87135040414373
R2_like -0.024363239624665578
MSE_share: 532.3256488471543
MAE_share: 16.99961526406819
Median_AE_share: 12.647533031849015
R2_share -0.04837490557795676

In [5]:
#Split the model into test and training set
X_train, X_test, y_train, y_test = train_test_split(facebook_train, facebook_target, test_size=0.3, random_state=0)
X_train.shape, y_train.shape
X_test.shape, y_test.shape  
X_train.head()

    total_followers  type  paid
60            86749     1     0
80           136299     1     1
89           133053     1     1
68           100461     2     0
51           136340     1     1

In [6]:
#Fit the model
knn = KNeighborsClassifier()
knn.fit(X_train, y_train) 

#Predict new model
y_pred = knn.predict(X_test)
mean_squared_error(y_test, y_pred)

38844.166666666664

## Casualty classification

In [6]:
casualty = pd.read_csv('casualty_test_in_class.csv')
casualty = pd.get_dummies(casualty, columns=["casualty_class", "gender", "pedestrian_location", 
                                             "pedestrian_movement", "travel", "year"])
casualty = casualty[casualty.age != 'Unknown']
casualty.age = pd.to_numeric (casualty.age)
casualty_train = casualty.drop(columns=['severe', ])
casualty_target = casualty['severe']
casualty.head()

,age,severe,casualty_class_driver,casualty_class_passenger,casualty_class_pedestrian,gender_female,gender_male,pedestrian_location_Close to Crossing,pedestrian_location_Footpath,pedestrian_location_In road,...,year_2005,year_2006,year_2007,year_2008,year_2009,year_2010,year_2011,year_2012,year_2013,year_2014
0,32,True,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,34,False,0,1,0,0,1,0,0,0,...,0,0,0,1,0,0,0,0,0,0
2,57,False,0,1,0,1,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
3,37,False,0,1,0,0,1,0,0,0,...,0,0,0,0,0,0,1,0,0,0
4,23,False,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

In [ ]:
classifier = KNeighborsClassifier(n_neighbors=k)  
classifier.fit(stored_data, stored_target)

    y_pred = classifier.predict(test_data) 

    print(classification_report(test_target, y_pred))

In [57]:
regr1 = linear_model.LinearRegression()
casualty_fit = regr1.fit(casualty_train, casualty_target)
casualty_pred = cross_val_predict(casualty_fit, casualty_train, casualty_target, cv=3)
pred = []
for i in casualty_pred: 
    if i >0.5: 
        i = 1
    else: 
        i = 0
    pred.append(i)

In [62]:
#Accuracy 
print ("Accuracy is:", accuracy_score(casualty['severe'], pred))

#Precision and recall
print ("Precision is:", metrics.precision_score(casualty['severe'], pred))
print ("Recall is:", metrics.recall_score(casualty['severe'], pred))  

#ROC
print ("ROC_auc_score is:", roc_auc_score(casualty['severe'], casualty_pred))

Accuracy is: 0.8911509479153232
Precision is: 0.0
Recall is: 0.0
ROC_auc_score is: 0.6741710325412098

C:\ProgramData\Anaconda3\lib\site-packages\sklearn\metrics\classification.py:1135: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 due to no predicted samples.
  'precision', 'predicted', average, warn_for)